In [1]:
import algo_lib

Trabajo Profesional | Algo Trading | Libreria

In [2]:
algo_lib.get_prizes_from_binance

In [3]:
algo_lib.get_prizes_from_binance()

'100k'

In [4]:
algo_lib.RSI

In [5]:
import yfinance as yf
rounds=14
ticker = 'BTC-USD'
fast_period , slow_period = 20, 60
sigma = 40

data = yf.download(ticker, auto_adjust=True, start = '2000-01-01')

[*********************100%%**********************]  1 of 1 completed

In [6]:
data

,Open,High,Low,Close,Volume
Date,,,,,
2014-09-17,465.864014,468.174011,452.421997,457.334015,21056800
2014-09-18,456.859985,456.859985,413.104004,424.440002,34483200
2014-09-19,424.102997,427.834991,384.532013,394.795990,37919700
2014-09-20,394.673004,423.295990,389.882996,408.903992,36863600
2014-09-21,408.084991,412.425995,393.181000,398.821014,26580100
...,...,...,...,...,...
2023-10-22,29918.654297,30199.433594,29720.312500,29993.896484,10446520040
2023-10-23,30140.685547,34370.437500,30097.828125,33086.234375,38363572311
2023-10-24,33077.304688,35150.433594,32880.761719,33901.527344,44934999645
2023-10-25,33916.042969,35133.757812,33709.109375,34502.820312,25254318008
2023-10-27,34156.500000,34156.500000,33970.199219,33970.199219,19150964736

In [7]:
algo_lib.RSI(data, rounds)

,Open,High,Low,Close,Volume,diff,win,loss,EMA_win,EMA_loss,RS,RSI
Date,,,,,,,,,,,,
2014-09-17,465.864014,468.174011,452.421997,457.334015,21056800,NaN,0.000000,0.000000,0.000000,0.000000,NaN,NaN
2014-09-18,456.859985,456.859985,413.104004,424.440002,34483200,-32.894012,0.000000,32.894012,0.000000,17.056155,0.000000,0.000000
2014-09-19,424.102997,427.834991,384.532013,394.795990,37919700,-29.644012,0.000000,29.644012,0.000000,21.566612,0.000000,0.000000
2014-09-20,394.673004,423.295990,389.882996,408.903992,36863600,14.108002,14.108002,0.000000,3.928194,15.561662,0.252428,20.155072
2014-09-21,408.084991,412.425995,393.181000,398.821014,26580100,-10.082977,0.000000,10.082977,3.022024,14.297818,0.211363,17.448333
...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-22,29918.654297,30199.433594,29720.312500,29993.896484,10446520040,75.484375,75.484375,0.000000,241.286029,82.871557,2.911566,74.434793
2023-10-23,30140.685547,34370.437500,30097.828125,33086.234375,38363572311,3092.337891,3092.337891,0.000000,444.932591,76.952160,5.781938,85.254951
2023-10-24,33077.304688,35150.433594,32880.761719,33901.527344,44934999645,815.292969,815.292969,0.000000,471.386904,71.455577,6.596923,86.836775
2023-10-25,33916.042969,35133.757812,33709.109375,34502.820312,25254318008,601.292969,601.292969,0.000000,480.665908,66.351607,7.244224,87.870296
2023-10-27,34156.500000,34156.500000,33970.199219,33970.199219,19150964736,-532.621094,0.000000,532.621094,446.332629,99.656570,4.478707,81.747520

In [8]:
data

,Open,High,Low,Close,Volume,diff,win,loss,EMA_win,EMA_loss,RS,RSI
Date,,,,,,,,,,,,
2014-09-17,465.864014,468.174011,452.421997,457.334015,21056800,NaN,0.000000,0.000000,0.000000,0.000000,NaN,NaN
2014-09-18,456.859985,456.859985,413.104004,424.440002,34483200,-32.894012,0.000000,32.894012,0.000000,17.056155,0.000000,0.000000
2014-09-19,424.102997,427.834991,384.532013,394.795990,37919700,-29.644012,0.000000,29.644012,0.000000,21.566612,0.000000,0.000000
2014-09-20,394.673004,423.295990,389.882996,408.903992,36863600,14.108002,14.108002,0.000000,3.928194,15.561662,0.252428,20.155072
2014-09-21,408.084991,412.425995,393.181000,398.821014,26580100,-10.082977,0.000000,10.082977,3.022024,14.297818,0.211363,17.448333
...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-22,29918.654297,30199.433594,29720.312500,29993.896484,10446520040,75.484375,75.484375,0.000000,241.286029,82.871557,2.911566,74.434793
2023-10-23,30140.685547,34370.437500,30097.828125,33086.234375,38363572311,3092.337891,3092.337891,0.000000,444.932591,76.952160,5.781938,85.254951
2023-10-24,33077.304688,35150.433594,32880.761719,33901.527344,44934999645,815.292969,815.292969,0.000000,471.386904,71.455577,6.596923,86.836775
2023-10-25,33916.042969,35133.757812,33709.109375,34502.820312,25254318008,601.292969,601.292969,0.000000,480.665908,66.351607,7.244224,87.870296
2023-10-27,34156.500000,34156.500000,33970.199219,33970.199219,19150964736,-532.621094,0.000000,532.621094,446.332629,99.656570,4.478707,81.747520

In [9]:
data = yf.download(ticker, auto_adjust=True, start = '2000-01-01')
algo_lib.MACD(data,23,12,9)
data

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Volume,ema_fast,ema_slow,macd,signal,histogram
Date,,,,,,,,,,
2014-09-17,465.864014,468.174011,452.421997,457.334015,21056800,457.334015,457.334015,0.000000,0.000000,0.000000
2014-09-18,456.859985,456.859985,413.104004,424.440002,34483200,439.516425,440.171921,-0.655497,-0.364165,-0.291332
2014-09-19,424.102997,427.834991,384.532013,394.795990,37919700,422.062029,423.713145,-1.651117,-0.891604,-0.759512
2014-09-20,394.673004,423.295990,389.882996,408.903992,36863600,417.908551,419.514586,-1.606036,-1.133620,-0.472415
2014-09-21,408.084991,412.425995,393.181000,398.821014,26580100,412.722535,414.626263,-1.903728,-1.362710,-0.541018
...,...,...,...,...,...,...,...,...,...,...
2023-10-22,29918.654297,30199.433594,29720.312500,29993.896484,10446520040,28633.902122,28062.923065,570.979058,347.328278,223.650780
2023-10-23,30140.685547,34370.437500,30097.828125,33086.234375,38363572311,29318.876315,28481.532341,837.343974,445.331417,392.012557
2023-10-24,33077.304688,35150.433594,32880.761719,33901.527344,44934999645,30023.899550,28933.198591,1090.700959,574.405326,516.295634
2023-10-25,33916.042969,35133.757812,33709.109375,34502.820312,25254318008,30712.964283,29397.333734,1315.630549,722.650370,592.980178
2023-10-27,34156.500000,34156.500000,33970.199219,33970.199219,19150964736,31214.077350,29778.405858,1435.671492,865.254595,570.416897