In [1]:
import algo_lib

Trabajo Profesional | Algo Trading | Libreria

In [3]:
algo_lib.get_prizes_from_binance

In [5]:
algo_lib.get_prizes_from_binance()

'100k'

In [6]:
algo_lib.RSI

In [9]:
import yfinance as yf
rounds=14
ticker = 'BTC'
fast_period , slow_period = 20, 60
sigma = 40

data = yf.download(ticker, auto_adjust=True, start = '2000-01-01')

[*********************100%%**********************]  1 of 1 completed

In [10]:
data

                 Open       High        Low      Close  Volume
Date
2020-10-01  96.966400  96.966400  96.966400  96.966400       0
2020-10-02  96.966400  96.966400  96.966400  96.966400       0
2020-10-05  96.995490  97.005189  96.961555  96.961555   10725
2020-10-06  96.976093  96.995483  96.976093  96.995483   10080
2020-10-07  96.917928  96.927627  96.888840  96.888840    6350
...               ...        ...        ...        ...     ...
2023-10-17  88.690002  88.690002  88.690002  88.690002     144
2023-10-18  88.494102  88.494102  88.494102  88.494102       3
2023-10-19  88.430496  88.430496  88.430496  88.430496     100
2023-10-20  88.699997  88.699997  88.610001  88.694099     328
2023-10-23  88.881401  88.881401  88.881401  88.881401      17

[770 rows x 5 columns]

In [11]:
algo_lib.RSI(data, rounds)

In [12]:
data

,Open,High,Low,Close,Volume,diff,win,loss,EMA_win,EMA_loss,RS,RSI
Date,,,,,,,,,,,,
2020-10-01,96.966400,96.966400,96.966400,96.966400,0,NaN,0.000000,0.000000,0.000000,0.000000,NaN,NaN
2020-10-02,96.966400,96.966400,96.966400,96.966400,0,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
2020-10-05,96.995490,97.005189,96.961555,96.961555,10725,-0.004845,0.000000,0.004845,0.000000,0.001736,0.000000,0.000000
2020-10-06,96.976093,96.995483,96.976093,96.995483,10080,0.033928,0.033928,0.000000,0.009447,0.001253,7.541853,-7.541853
2020-10-07,96.917928,96.927627,96.888840,96.888840,6350,-0.106644,0.000000,0.106644,0.007268,0.025565,0.284283,-0.284283
...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-17,88.690002,88.690002,88.690002,88.690002,144,-0.454994,0.000000,0.454994,0.077603,0.127359,0.609329,-0.609329
2023-10-18,88.494102,88.494102,88.494102,88.494102,3,-0.195900,0.000000,0.195900,0.072060,0.132254,0.544860,-0.544860
2023-10-19,88.430496,88.430496,88.430496,88.430496,100,-0.063606,0.000000,0.063606,0.066913,0.127351,0.525422,-0.525422
2023-10-20,88.699997,88.699997,88.610001,88.694099,328,0.263603,0.263603,0.000000,0.080962,0.118254,0.684645,-0.684645
2023-10-23,88.881401,88.881401,88.881401,88.881401,17,0.187302,0.187302,0.000000,0.088558,0.109808,0.806482,-0.806482