In [1]:
import algo_lib

Trabajo Profesional | Algo Trading | Libreria

In [3]:
algo_lib.get_prizes_from_binance

In [5]:
algo_lib.get_prizes_from_binance()

'100k'

In [6]:
algo_lib.RSI

In [9]:
import yfinance as yf
rounds=14
ticker = 'BTC'
fast_period , slow_period = 20, 60
sigma = 40

data = yf.download(ticker, auto_adjust=True, start = '2000-01-01')

[*********************100%%**********************]  1 of 1 completed

In [10]:
data

                 Open       High        Low      Close  Volume
Date
2020-10-01  96.966400  96.966400  96.966400  96.966400       0
2020-10-02  96.966400  96.966400  96.966400  96.966400       0
2020-10-05  96.995490  97.005189  96.961555  96.961555   10725
2020-10-06  96.976093  96.995483  96.976093  96.995483   10080
2020-10-07  96.917928  96.927627  96.888840  96.888840    6350
...               ...        ...        ...        ...     ...
2023-10-17  88.690002  88.690002  88.690002  88.690002     144
2023-10-18  88.494102  88.494102  88.494102  88.494102       3
2023-10-19  88.430496  88.430496  88.430496  88.430496     100
2023-10-20  88.699997  88.699997  88.610001  88.694099     328
2023-10-23  88.881401  88.881401  88.881401  88.881401      17

[770 rows x 5 columns]

In [11]:
algo_lib.RSI(data, rounds)

data